/* Style for home page */
/* Body styling */
body {
  font-family: "Baloo Bhai", cursive;
  color: lightgreen;
  margin: 0px;
  padding: 0px;
  background-color: rgb(46, 45, 45);
}
/* header styling */
header{
  display: flex;
  gap: 78%;
  height: 150px;
}
/* left logo styling */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  
}
.left img {
  height: 100px;
  width: 100px;
}
.left div {
  line-height: 8px;
  font-size: 14px;
}
/* right logo styling */
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img {
  height: 100px;
  width: 100px;
}
/* Navbar section styling */
#nav-toggle {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  position: fixed;
  top: 45px;
  right: 20px;
  z-index: 1000;
}
#nav-section {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: #f5f5f5;
  color: #3b3b3b;
  text-align: center;
  padding-top: 50px;
}
#nav-section ul {
  list-style: none;
  padding: 0;
}
#nav-section li {
  margin: 20px 0;
}
#nav-section a {
  color: #3b3b3b;
  text-decoration: none;
  font-size: 24px;
}
.hidden {
  display: none;
}
/* intro section styling */
.intro {
  margin-bottom: 45px;
  padding: 0px;
  font-family: sans-serif;
  animation:textAnimation 1s ease-in-out;
  align-items: center;
  justify-content: center;
}
.intro ul {
  font-family: "Baloo Bhai", cursive;
}
.title {
  text-align: center;
}
/* know rights styling */
.coc {
  margin: 28px;
  padding: 10px;
  animation: textAnimation2 1s ease-in-out;
}
.para {
  color: white;
  padding: 10px;
}
.para ul li {
  font-size: 1.5rem;
}
/* horizontal line styling */
hr{
  width: 80%;
}
/* Button styling */
.btn {
  text-align: center;
  padding: 0px;
  margin: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
  text-align: center;
}
.btn button {
  height: 40px;
  width: 200px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: rgb(11, 116, 11);
  font-size: large;
}
/* Animation */
@keyframes textAnimation {
  0% {transform:translateX(-1000px) ;}
  100% {transform: translateX(0px);}
}
@keyframes textAnimation2 {
  0% {transform: translateX(1000px);}
  100% {transform: translateX(0px);}
}
  

